/*CSS Stylesheet for Createive Project
Author: Michael Frazier
Date: 4-14-21 */

/*Div styles*/

.boxed {
    border: 1px grey;
    background-color: #F1EFEF;
    text-align: center;
    border-radius: 15px;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -moz-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -o-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.grid2 {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.heading {
    font-size: 20px;
}

/*paragraph styles*/
.bordered {
    width: 120px;
    height: 40px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 8px;
}

/*link styles*/
a, a:visited {
	color: #0645ad;
	text-decoration: none;
}

/*general*/

.sidebar h3 {
	font-size: 0.75em;
	color: #4d4d4d;
	font-weight: normal;
	margin: 0.5em 0 0 0;
	padding: 0.25em 0;
	cursor: default;
	border: 0;
	border-bottom: 1px solid #D8D8D8;
}

.article {
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-left: 1px solid #a7d7f9;
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
}

.tabs ul li a.active {
	background: #FFF;
	border-bottom-color: transparent;
}
.tabs ul li a {
	display: block;
	background: url(img/blue-gradient.png) bottom left repeat-x transparent;
	font-size: 0.85em;
	padding: 1em 0.5em 0;
	line-height: 2em;
	position: relative;
	top: 1px;
	left: 1px;
	border-bottom: 1px solid #A7D7F9;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
}
body {
	background: url(img/body-top.png) repeat-x top left #f6f6f6;
}


